/* #region ASSETS */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* #endregion ASSETS */

/* #region HEADER */


.sony img{
    height: 50%;
}

.navigazione{
    height: 10vh;
    
    width: 100vw;
    

}

.sony{
    height: 5vh;

    background-color:black ;
    width: 100vw;

}

.bg_white{
    background-color: white;
}

.arrow{  
     height: 1rem;
}

.btn_accedi{
    background-color: #333333;
    color: white;
    border: 0;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
}

.lente{
    height: 1.2rem;
    margin-top: 1.2rem;
}
/* #endregion HEADER */

/* #region MAIN */

/* #region JUMBO */
.jumbo{
    background-size: cover;
    background-repeat: no-repeat;
   background-image: url(../img/jumbo-bg.png);
}

.call_to_action{

    width: 30%;
}

.call_to_action img{
    height: 10vh;
}

.call_to_action button{
   background-color: #cd3d0f;
   color: white;
   border: 0;
   border-radius: 1rem;
   padding: 0.2rem 1rem;
  }


/* #endregion JUMBO */

/* #region PHOTO GALLERY */

.photo_gallery img{
    height: 80%;
    border-radius: 1rem;

}

.photo_gallery .col{
height:  20vh;
}


/* #endregion PHOTO GALLERY */

/* #region NO LIMITS */

.no_limits h6{
    color: #0068ca;
}

.no_limits h2{
    color: black;
}

.no_limits h5{
    color: #747474;
}

/* #endregion NO LIMITS */

/* #region CONSOLE */


.play_5 .col{
    height: 40vh;
}

.play_5 img{
    height: 150%;
}

.play_5{
    width: 80%;

}

.console p{
    color: #747474;
}

.console button{
    background-color: #2d64e6;
    color: white;
    border: 0;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
}

.play_gagets img{
    height: 60%;
    width: 60%;
}
.play_gagets .col{
    height: 25vh;
}

.border_bottom{
border-bottom: 2px solid #2d64e6;
padding-bottom: 3rem;
}

.text_gray{
    color: #747474;
    filter: opacity(0.5) ;
}


/* #endregion CONSOLE */

/* #region TAKES TWO */

.takes_two{
    background-size: cover;
   background-repeat: no-repeat;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.cooperativa{
    height: 100%;
}

.takes_img{
    width: 33vw;
}

.takes_two button{
    background-color: #ca3000;
    color: white;
    border: 0;
    border-radius: 1rem;
    padding: 0.3rem 1.2rem;
}

/* #endregion TAKES TWO */

/* #region NUOVE USCITE */

.bg_darker{
    background-color: #1f1f1f;
}

.nuove_uscite img{
    height:166px ;
    width: 166px;
}



.circle_img{
    border-radius: 10%;
    margin-bottom: 0.5rem;
}

/* #endregion NUOVE USCITE */

/* #region PLAY 4 */

.text_darkgray{
    color: #727272;
}

.play_4 img{
    height: 20vh;
}

.btn_play_4{
    background-color: #2d64e6;
    color: white;
    border: 0;
    border-radius: 1rem;
    padding: 0.2rem 1rem; 
}

/* #endregion PLAY 4 */

/* #region PLAY PLUS */

.bg_lightgray{
   height: 60vh;
    background-color:#bebcbb ;
}

.play_plus_text{
    height: 100%;
}

.ps5_img{
    height: 100%;
}

.play_plus .row{
    height: 60vh;
}

.ps_plus_logo{
    height: 15vh;
}



.ps_plus_btn{
    background-color: #d9dadc;
    color: #2d64e6;
    border: 0;
    border-radius: 1rem;
    padding: 0.3rem 1rem; 
    font-weight: bold;
}

.play_plus .play_plus_img{
    height: 100%;
}

/* #endregion PLAY PLUS */

/* #region SCONTI */

.sconti img{
    height: 50vh;
}

/* #endregion SCONTI */

/* #region PLAY NOW */

.avengers{
    height: 100%;
}

.play_now .play_now_img{
    height: 100%;
}

.play_now .row{
    height: 60vh;
}

.play_now{
    height: 60vh;
    background-color: #161c3b;
}

.ps_now_logo{
    height: 15vh;
}

.ps_now_btn{
    background-color: #ffffff;
    color: #000000;
    border: 0;
    border-radius: 1rem;
    padding: 0.3rem 1rem; 
    font-weight: bold;
}

.play_now .play_now_img{
    height: 100%;
}

.play_now_text{
    height: 100%;
}

/* #endregion PLAY NOW */

/* #region SOCIAL */
.social img{
    height: 35vh;
}

/* #endregion SOCIAL */

/* #endregion MAIN */

/* #region FOOTER */

.bg_blue{
    background-color: #00439c;
}

.ps_footer{
    height: 20vh;
}

.maggiori_info{
    text-decoration: underline;
}

.sie{
    height: 8vh;   
}

/* #endregion FOOTER */
