body{
    font-family: Arial, Helvetica, sans-serif;
}

/* #region DEBUG */
.debug .sony{
    height: 30px;
}

.debug .navigazione{
    height: 50px;
}

.debug .jumbo{
    height: 400px;
}

.debug .call_to_action{
    height:200px ;
    width: 30%;
}

.photo_gallery .col{
    height: 70px;
    background-color: aqua;
}

.debug .no_limits{
    height: 80px;
    background-color: red;
}

.console .col{
    height: 400px;
    background-color: rgb(95, 232, 113);
}

.play_gagets .col{
    background-color: blue;
    height: 150px;
}

.debug .takes_two{
    background-color: yellow;
    height: 400px;
}

.debug .cooperativa{
    height: 100%;
    background-color: aquamarine;
      ;

}

.nuove_uscite .col{
    height: 100px;
    background-color: blueviolet;
}

.play_4 .col{
    background-color: blue;
    height: 150px;
}

.play_plus .row{
    height: 200px;
}

.sconti .col{
    background-color: brown;
    height:200px ;
}

.play_now .row{
    height: 200px;
}

.debug .play_now{
    background-color:#161c3b ;
}
/* #endregion DEBUG */

/* #region PLAY PLUS */

.ps5_img{
    height: 100%;
}

.play_plus .play_plus_img{
    height: 100%;
}

/* #endregion PLAY PLUS */

/* #region PLAY NOW */

.avengers{
    height: 100%;
}

.play_now .play_now_img{
    height: 100%;
}

/* #endregion PLAY NOW */
